;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[binaryage/devtools "0.9.10"]
  [lilactown/hx "0.3.0"]
  [funcool/potok "2.3.0"]
  [cider/cider-nrepl  "0.20.0"]]

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules    {:core {:entries [hxor.core]}}
   :devtools   {:http-root  "public"
                :http-port  8280
                :after-load hxor.core/render}}}}
